body {
  margin: 0;
  font-family: 'Courier New', 'Consolas', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #00ff00;
}

code {
  font-family: 'Courier New', 'Consolas', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}
